<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <section id="wrapper" class="container">
            {% block sidebar %}{% endblock %}
            {% block body %}{% endblock %}
        </section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
