.fix-gutters > [class*="col-"],
.fix-gutters-six > [class*="col-md-6"] {
 	padding-right: 15;
  	padding-left: 15;
}

tr.table-hover-highlighted td {
    background: #F5F5F5;
}

.btn-delete {
	margin-right: 2px;
}

.form-validate .form-group .error{
    border-color: #e74c3c !important;
}

.header-shadow{
    background-image: url('../images/header-shade.jpg');
}

.table-bordered.verified{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReGqsCzwgeLjK8DJSUf1jCdLPzz6fzgTlocWn-2bLo518BtoxA);
	background-repeat: no-repeat;
    background-position: center; 
}

.table-hover.verified>tbody>tr:hover>td,
.table-hover.verified>tbody>tr:hover>th {
  background-color: transparent;
}