<h2 class="box-heading">
    <div class="btn-group pull-right">
        <a href="#" role="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            <i class="icon ion-ios7-arrow-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a class="form-theme" data-toggle="default" href="#">Default</a></li>
            <li><a class="form-theme" data-toggle="flat" href="#">Flat</a></li>
            <li><a class="form-theme" data-toggle="ion" href="#">Ion</a></li>
            <li class="divider"></li>
            <li><a class="form-theme" data-toggle="flat-ion" href="#">Flat & Ion</a></li>
        </ul>
    </div>
    {{ box_heading_title }}
</h2>