<div class="panel-heading">
    <div class="panel-icon"><i class="icon ion-ios7-upload-outline"></i></div>
    <div class="panel-actions">
        <a role="button" data-refresh="#panel" title="refresh" class="btn btn-sm btn-icon">
            <i class="icon ion-refresh"></i>
        </a>
        <a role="button" data-expand="#panel" title="expand" class="btn btn-sm btn-icon">
            <i class="icon ion-arrow-resize"></i>
        </a>
    </div><!-- /panel-actions -->
    <h3 class="panel-title">{{ panel_heading_title }}</h3>
</div><!-- /panel-heading -->