<!-- side header -->
<div class="side-header">
    <!-- place your brand (recomended: dont change the id value) -->
    <!-- (recomended: dont change the id value) -->
    <h1 id="brand" class="brand">
        <a href="index.html">
            <!-- <i class="icon ion-waterdrop"></i> -->
            <img src="{{ asset('public/assets/app/img/brand.png') }}" alt="Brand">   <!-- 32px image logo -->
            Syrena
        </a>
    </h1><!-- /brand -->

    <!-- form search, remove class hide if you not place your brand -->
    <!-- (recomended: dont change the id value) -->
    <form id="smart-search" class="side-form hide" role="form">
        <input type="text" class="form-control" data-target=".side-wrapper" placeholder="Smart Finder">
    </form><!-- /side wrapper -->
</div>
<!-- /side header -->